@use 'mixin' as*;
@use 'variables' as*;

.header{
    display: flex;
    width: 100%;
    height: 120px;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    @include mq(sp){
        height: 64px;
        padding: 0 0 0 16px;
    }
    
    &__logo{
        width: 120px;
        @include mq(sp){
            width: 100px;
        }
        }


    // ───────── ナビゲーション ─────────
    .nav{
        display: flex;
        column-gap: 32px;
        // タブレット以下はハンバーガーで開閉
        @include mq(tab){
            display: none;
        }
    }

    // ───────── ハンバーガーアイコン ─────────
    .ham{
        display: none;
        @include mq(tab){
            display: block;
            width: 64px;
            height: 64px;
            padding: 16px;
            background-color: $overlay1;
        }

        &-icon{
            display: flex;
            flex-flow: column;
            row-gap: 8px;
            margin-bottom: 3px;
        }

        &__border{
            width: 100%;
            height: 1px;
            border-radius: 16px;
            background-color: #d9d9d9;

        }

        &__menu{
            color: #fff;
            font-size: 10px;

        }

    }

    // ───────── open 状態 (スマホ・タブレット) ─────────
    &.nav-open{
        .nav{
            // sp/tab で表示
            @include mq(tab){
                display: flex;
                flex-flow: column;
                row-gap: 32px;
                position: fixed;
                top: 64px; // ヘッダー高さ
                left: 0;
                width: 100%;
                height: calc(100vh - 64px);
                background-color: $overlay2;
                backdrop-filter: blur(4px);
                align-items: center;
                justify-content: center;
                z-index: 0;
            }
        }
    }
}