//Text Colers
$textColor1:#333333;
$textColor2:#FFFFFF;
//Main Colors
$mainColor1:#6E551B;
$mainColor2:#3C2F10;
//Bass Colors
$baseColor1:#FFFFFF;
$baseColor2:#E2DDD1;
//Accent Colors
$accentColor:#23460F;
//Overlay Colers
// カラー変数定義
$overlay1: rgba(60, 47, 16, 0.3); // #3C2F10 with 30% opacity
$overlay2: rgba(255, 255, 255, 0.85); // #FFFFFF with 85% opacity

//Font Variables
$caslon: 'Libre Caslon Text';
$serif: 'Noto Serif JP';
$sans: 'Noto Sans JP';



